@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import "@solana/wallet-adapter-react-ui/styles.css";

@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
    font-family: 'Montserrat', system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;

    color-scheme: light dark;
    color: rgb(255, 255, 255);

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

}

@media (prefers-color-scheme: dark) {
    body {
        background-color: #030712; /* dark background color */
    }
}

.wallet-adapter-button {
    @apply bg-gray-950/20 h-11 dark:bg-white/5 text-xs font-medium rounded-2xl text-gray-950 dark:text-white
}

.wallet-adapter-modal-list > button{
    @apply text-gray-950 dark:text-white
}


.wallet-adapter-button > i {
    @apply w-4 h-4
}

wui-image, wui-text  {
    visibility: hidden !important;
    disaply:none !important;
}


